body{
    background-image: url("https://t3.ftcdn.net/jpg/01/71/08/50/360_F_171085008_HuYzQUZstefVs0bxQekT9HVBYXCrJcTR.jpg") ;
    background-size: 1950px;
}
button{
    border-radius:50% ;
    width: 500px;
    height: 100px;
    background-color:cadetblue;
}
